<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Publications</title>
</head>
<body>
    <h1>Filter Publications</h1>
    <form action="/filter" method="post">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author"><br><br>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date"><br><br>
        <input type="submit" value="Filter">
    </form>
</body>
</html>
